<a href="https://colab.research.google.com/github/carloshuarhua/curso_python/blob/main/Sesion03_Curso_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Tuplas

En Python una tupla es una estructura de datos que representa una colección de objetos, pudiendo estos ser de distintos tipos. Internamente, para representar una tupla, Python utiliza un array de objetos que almacena referencias hacia otros objetos.

Al principio parece que fueran listas:

In [ ]:
#Listas: Permiten reemplazar los valores internos
Estudiante=["Manuel Ponte",23,"M"]
Estudiante[0]='Omar Escobedo'
Estudiante

['Omar Escobedo', 23, 'M']

In [ ]:
#Condicional
if Estudiante[2] == 'M':
    Estudiante[2] = 'Masculino'
Estudiante

['Omar Escobedo', 23, 'Masculino']

In [ ]:
#Tuplas
Estudiantetupla='Karolayne Pacherres',23,'True'
Estudiantetupla

('Karolayne Pacherres', 23, 'True')

In [ ]:
#Error: El valor de la tupla no puede ser reemplazado
Estudiantetupla[0] = 'Karoline Pacherres'
Estudiantetupla

TypeError: ignored

Dado que una tupla puede almacenar distintos tipos de objetos, es posible anidar diferentes tuplas; veamos un sencillo ejemplo:

In [ ]:
t = (1, ("a", 3), 5.6)
t

(1, ('a', 3), 5.6)

###Diccionario
Los Diccionarios, superficialmente, son lo más similares a las listas de R. Almacenan **"Campos"**

In [ ]:
# creando diccionarios:
EstudianteDict={'Nombres':"Manuel Ponte",
               'edad':23,
               'femenino':False,
                'distrito': 'Villa Maria'}
#en los diccionarios se deben indicar los nombres de los atributos
# seeing it:
EstudianteDict

{'Nombres': 'Manuel Ponte',
 'distrito': 'Villa Maria',
 'edad': 23,
 'femenino': False}

Pare ver un elemento, tienes que saber el nombre de su campo ('key'):

In [ ]:
EstudianteDict['Nombres']

'Manuel Ponte'

In [20]:
type(EstudianteDict)

dict

### Data Frames

Los Data Frames pueden interpretarse como estructuras compuestas en base a las simples. Python requiere que llamemos al paquete pandas para usar DFs:
Nota: Un Data Frame es equivalente a una tabla.

In [22]:
import pandas as pd

# estas son columnas:
#listas de columnas

nombres=["Manuel", "Karen", "Karolayne", "Omar"]
edad=[23,29,23,26]
pais=["Ecuador", "Perú", "Brasil", "Argentina"]
educacion=["Bach", "Lic", "Bach", "PhD"]

In [23]:
# las llevamos a diccionario:
data={'nombres':nombres, 'edad':edad, 'pais':pais, 'educacion':educacion}

...y de dict a DF:

In [24]:
estudiantes=pd.DataFrame(data)
# check it:
estudiantes

     nombres  edad       pais educacion
0     Manuel    23    Ecuador      Bach
1      Karen    29       Perú       Lic
2  Karolayne    23     Brasil      Bach
3       Omar    26  Argentina       PhD

In [25]:
type(estudiantes)

pandas.core.frame.DataFrame