<a href="https://colab.research.google.com/github/carloshuarhua/curso_python/blob/main/Sesion02_Curso_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Sesión 01 - Introducción a python**

En esta sección revisaremos cuáles son las estructuras de datos y tipos básicos con los que cuenta este lenguaje. Paso previo, revisaremos algunos conceptos importantes indispensables para la comprensión del lenguaje.

In [1]:
#variable
x = 8
print (x)
x = 9
print (x)

8
9

In [6]:
nombres = "Juan"
print(type(nombres))

<class 'str'>

##  **CONCEPTOS BÁSICOS**


**Objeto**

Componente que se aloja en la memoria y que tiene asociados una serie de vectores y operaciones que pueden ser realizadas con él. Un objeto en Python puede ser una cadena de texto, un número real, un diccionario o un objeto propiamente dicho, según el paradigma OOP, creado a partir de una clase determinada. En otros lenguajes de programación se emplea el término estructura de datos para referirse al objeto. Podemos considerar ambos términos como equivalentes.


**Tipado dinámico**

Python al declarar una variable no se puede indicar su tipo. En la ejecución, el tipo será asignado a la variable, empleando una técnica conocida como tipado dinámico.

**¿Cómo diferencia el intérprete entre diferentes tipos y estructuras de datos?**

La respuesta se encuentra en el funcionamiento interno que realiza el intérprete de la memoria. Cuando se asigna a una variable un valor, el intérprete, en tiempo de ejecución, realiza un proceso que consiste en varios pasos:



1.   Se crea un objeto en la memoria con el valor asignado.
2.   Se comprueba de que exista la variable, si no es así se crea una referencia que enlaza la nueva variable con el objeto.
3.   Si por el contrario ya existe la variable, entonces, se cambia la referencia hacia el objeto creado.

**Tanto las variables como los objetos se almacenan en diferentes zonas de la memoria.**

Gracias al tipado dinámico podemos, en el mismo bloque de código, asignar diferentes tipos de datos a la misma variable, siendo el intérprete en tiempo de ejecución el que se encargará de crear los objetos y referencias que sean necesarios.

Para ejemplificar el proceso ingresaremos el siguiente código:

1. Crear variables

In [8]:
x = 8
y = x

2. Consultar variable

In [9]:
x

8

In [10]:
y

8

**3**. Mostrar en Pantalla

In [11]:
print("La variable x es:", x)
print("La variable y es:", y)

La variable x es: 8
La variable y es: 8

In [15]:
nombres = 'Carlos C'
apellidos = 'Huarhua J'
edad = 18

#Estandar
primer_nombre = 'Carlos'

print("Tu nombre es:", nombres, "Tu apellido es:", apellidos, "Tu edad es:", edad)

Tu nombre es: Carlos C Tu apellido es: Huarhua J Tu edad es: 18

# **TIPOS DE DATOS**

*   booleano
*   Numéricos
*   Cadenas(string)
*   Listas
*   Tuplas
*   Diccionarios
*   DataFrames

###booleano

Las variables booleanas solo pueden tener los valores True o False.

In [19]:
b1 = True
b2 = True
b3 = False
b4 = bool("True")

type(b1)
type(b4)

bool

###Numéricos
Estos tipos de datos se crean mediante literales numéricos y se devuelven como resultados por operadores aritméticos y funciones aritméticas integradas.

In [22]:
num_entero = 8
num_negativo = -100
num_real = 4.5 #Equivalente a float

In [ ]:
#otra manera de expresar un número real es:
num_real = 0.5e-7

In [23]:
#números formados por una parte real y otra imaginaria
num_complejo = 3.2 + 7j
print(type(num_complejo))

<class 'complex'>

In [24]:
numero = 1/2
print(type(numero))

<class 'float'>

####Sistemas de representación

**Python** puede representar los números enteros en los sistemas decimal, octal, binario y hexadecimal. 

Para la representación decimal no es necesario indicar nada más que el número en cuestión. Sin embargo, para el resto de sistemas es necesario que el número sea precedido por uno o dos caracteres concretos.

In [26]:
#el número 7 en binario se representa de la siguiente forma:
num_binario = 0b111
num_binario

7

In [28]:
#el número 8 en octak se representa de la siguiente forma:
num_octal = 0o10
num_octal

8

In [29]:
#el número 255 en el sistema hexadecimal se representa de la siguiente forma:
num_hex = 0xff
num_hex

255

###Cadenas de texto

Las cadenas de texto (strings) son otro de los tipos de datos más utilizados en programación. Una Cadena de texto es un conjunto inmutable y ordenado de caracteres. Para su representación y definición se pueden utilizar tanto comillas dobles ("), como simples (').

In [30]:
cadena = "esto es una cadena de texto"

In [31]:
cadena2 = """Esta cadena de texto
tiene más de una línea. En concreto, cuenta
con tres líneas diferentes"""

In [34]:
print(type(cadena))
print(cadena)
print(type(cadena2))
print(cadena2)

<class 'str'>
esto es una cadena de texto
<class 'str'>
Esta cadena de texto
tiene más de una línea. En concreto, cuenta
con tres líneas diferentes

####Tipos

Por defecto todas las cadenas de texto son Unicode. Así, cualquier string declarado en Python será automáticamente de tipo Unicode. Los tipos son:

1. Unicode
2. Byte
3. Bytearray.

#####Byte
El tipo byte solo admite caracteres en codificación ASCII y, al igual que los de tipo Unicode, son inmutables.

Para declarar un string de tipo byte, basta con anteponer la letra b antes de las comillas:

In [35]:
cad = b"cadena de tipo byte"
print(type(cad))
print(cad)

<class 'bytes'>
b'cadena de tipo byte'

#####Bytearray

El tipo **bytearray** es una versión mutable del tipo byte.
La declaración de un tipo bytearray debe hacerse utilizando la función integrada que nos ofrece el intérprete. Además, es imprescindible indicar el tipo de codificación que deseamos emplear. El siguiente ejemplo utiliza la codificación de los caracteres latin1 para crear un string de este tipo:

In [36]:
#En latin1, no existe la ñ, España
lat = bytearray("España", "latin1")
print(lat)

bytearray(b'Espa\xf1a')

In [37]:
str = "España"
array1 = bytearray(str, 'utf-8') 
print(array1)

bytearray(b'Espa\xc3\xb1a')

In [38]:
bytearray("España", "utf16")

bytearray(b'\xff\xfeE\x00s\x00p\x00a\x00\xf1\x00a\x00')

encode(): transforma un tipo str en tipo byte

In [39]:
cad = "es de tipo str"
cad.encode()

b'es de tipo str'

decode(): transforma un tipo byte en tipo str

In [40]:
cad = b"es de tipo byte"
cad.decode()

'es de tipo byte'

###Listas

Las listas contienen valores de cualquier tipo simple (numérico o no numérico), y podrían ser estructuras compuestas (lista de listas). Si usamos como referencia a una hoja de calculo con datos sobre individuos, una lista podria ser una fila que tiene los datos de los individuos.

In [51]:
#Una lista en python es equivalente a una fila en excel
Estudiante=[] #Inicializa una lista / la declara vacia
Estudiante=["Manuel Ponte",23,"False", "campo3", "campo4"]

El object ‘Estudiante’ almacena temporalmente la lista en la computadora. Los nombre pueden contener letras del alfabeto y números (y algunos caracteres de puntuación), pero no debe comenzar con un número.

En el código anterior, sólo se ha pedido crear la lista. Python lo ejecuta y nada más, no tienes que esperar ningún mensaje ni resultado. Si quieres ver lo que has creado, escribelo de manera explicita, así:

In [45]:
Estudiante

['Manuel Ponte', 23, 'False']

In [44]:
print(Estudiante)
print(type(Estudiante))

['Manuel Ponte', 23, 'False']
<class 'list'>

Nota que hay varios tipos de datos en la lista:

Nombre y apellido es texto o caracteres.
* edad es un numero.
* Mujer es un valor lógico.
* Para acceder a cada uno de los elemento tu lista:

In [46]:
Estudiante[0] # primer elemento comienza con indice '0'

'Manuel Ponte'

In [47]:
Estudiante[:2] # todo antes de índice 2

['Manuel Ponte', 23]

In [48]:
Estudiante[-1] # ultimo elementos

'False'

In [52]:
Estudiante[1:4]

[23, 'False', 'campo3']