 # Paquete Datetime

### Importando el paquete datetime.

In [1]:
import datetime as dt

### Creando una variable de tiempo

* Se necesitan los argumentos de hora, minuto, segundo y microsegundos
* Si alguno no es brindado se completa con 0 por defecto.

In [4]:
print(dt.time(1), "1 Hora")
print(dt.time(2, 30), "2 Horas y 30 minutos")
print(dt.time(3, 45, 30), "3 Horas, 45 minutos y 30 segundos")
print(dt.time(1,10), "1 Hora y 10 minutos")
print(dt.time(1, 0, 10), "1 Hora y 10 segundos")
print(dt.time(1,second=10), "1 Hora y 10 segundos")

01:00:00 1 Hora
02:30:00 2 Horas y 30 minutos
03:45:30 3 Horas, 45 minutos y 30 segundos
01:10:00 1 Hora y 10 minutos
01:00:10 1 Hora y 10 segundos
01:00:10 1 Hora y 10 segundos

### `dt.datetime.now` para obtener el datetime actual.

In [ ]:
now = dt.datetime.now()
print(now)
#Obtiene Hora del servidor

2020-11-15 07:13:27.237550

El Tiempo en Perú (PET) está 5 horas bajo el Tiempo Universal Coordinado (UTC−5)

Algunos atributos:

In [ ]:
print("Fecha\n")
print("El año actual es:", now.year)
print("El mes actual es:", now.month)
print("El día actual es:", now.day)

print("\nTiempo\n")
print("La hora actual es:   ", now.hour)
print("El minuto actual es: ", now.minute)
print("El segundo actual es:", now.second)

Fecha

El año actual es: 2020
El mes actual es: 11
El día actual es: 15

Tiempo

La hora actual es:    7
El minuto actual es:  13
El segundo actual es: 27

Para crear un datetime en particular es necesario pasar los atributos de año, mes y día; los de tiempo son opcionales.

In [ ]:
navidad_date = dt.datetime(2020, 12, 25)
print(navidad_date)

2020-12-25 00:00:00

In [ ]:
diff = navidad_date - now
print(diff)

39 days, 16:46:32.762450

In [9]:
#Edad (Años)
birth_date = dt.datetime(1983,4,30)
now = dt.datetime.now()
diff = now.year - birth_date.year
print("Tienes", diff, "años de edad")

Tienes 37 años de edad

In [ ]:
type(diff)

datetime.timedelta

Podemos crear un objeto timedelta también y añadirlo a un datetime:

In [ ]:
inc = dt.timedelta(days=45, hours=7)

print(now)
print(inc)
print(now + inc)

2020-11-15 07:13:27.237550
45 days, 7:00:00
2020-12-30 14:13:27.237550

### String to Datetime:

- %Y for year
- %d for day
- %m for month
- %H for hour
- %M for minute
- %S for second

In [ ]:
str_date = "18-07-1994"
str_date = dt.datetime.strptime(str_date,"%d-%m-%Y")
print(str_date)

1994-07-18 00:00:00

In [11]:
str_date = "07-18-1994"
str_date = dt.datetime.strptime(str_date,"%m-%d-%Y")
print(str_date)

1994-07-18 00:00:00

In [ ]:
type(str_date)

datetime.datetime

In [ ]:
str_date = "18/07/1994"
str_date = dt.datetime.strptime(str_date,"%d/%m/%Y")
print(str_date)

1994-07-18 00:00:00

In [ ]:
type(str_date)

datetime.datetime

### Datetime to String:

In [ ]:
date_str = dt.datetime.strftime(str_date, "%Y-%m-%d %H:%M:%S")
print(date_str)

1994-07-18 00:00:00

In [ ]:
type(date_str)

str

In [ ]:
# Strings

In [16]:
#Ascii to Char
print(chr(123)) #{ - ok
print(chr(64)) #@ - ok
print(chr(164)) #ñ - pero funciona contra el formato configurado en el servidor

{
@
¤

In [13]:
#Char to Ascii

ord('@')

64

In [17]:
#Creación de un string

s1 = 'fundamentos de programación en Python.'

In [18]:
#Pertenencia

'de' in s1

True

In [19]:
'Fundamentos' not in s1

True

In [35]:
busqueda = '*en*'
print(s1.lower())
print(busqueda.lower())
resultado_busqueda = busqueda.lower() in s1.lower()
if resultado_busqueda :
  print("Si existe")
else:
  print("No existe")

fundamentos de programación en python.
*en*
No existe

In [43]:
import re

pattern = 'th'
text = 'Does this text match the pattern?'

match = re.search(pattern, text)

s = match.start()
e = match.end()

print('Found "{}"\nin "{}"\nfrom {} to {} ("{}")'.format(
    match.re.pattern, match.string, s, e, text[s:e]))

Found "th"
in "Does this text match the pattern?"
from 5 to 7 ("th")

In [44]:
#Longitud de un string

len(s1)

38

In [47]:
#Acceso (Indexing - Slicing)
print(s1)
print(s1[0])    #Posición cero = f
print(s1[-1])   #Posición cero - 1 = último "."
print(s1[4:8])  #amen
print(s1[::-1]) #texto invertido

fundamentos de programación en Python.
f
.
amen
.nohtyP ne nóicamargorp ed sotnemadnuf

In [50]:
str_date = "09-12-1994"
#dia = str_date[0:2]
#mes = str_date[3:5]
año = str_date[-4:10]
print(año)

1994

In [ ]:
#Insertar un salto de línea

print('Primera línea\nSegunda línea')

Primera línea
Segunda línea

In [ ]:
#Insertar un tabulador
print('Primera línea\tSegunda línea')

Primera línea	Segunda línea

In [51]:
#Funciones de desplazamiento

print('String centrado:')
print(s1.center(50))
print(s1.center(50, '_'))

print('\n\nAlineado a la izquierda:')
print(s1.ljust(50))
print(s1.ljust(50, '<'))

print('\n\nAlineado a la derecha:')
print(s1.rjust(50))
print(s1.rjust(50, '>'))

print('\n\nCompletar con 0')
print('-123.45'.zfill(4))
print('-123.45'.zfill(12))

String centrado:
      fundamentos de programación en Python.
______fundamentos de programación en Python.______


Alineado a la izquierda:
fundamentos de programación en Python.
fundamentos de programación en Python.<<<<<<<<<<<<


Alineado a la derecha:
            fundamentos de programación en Python.
>>>>>>>>>>>>fundamentos de programación en Python.


Completar con 0
-123.45
-00000123.45

In [ ]:
#Funciones de texto

s1 = 'el motivo de mi RECLAMO es la demora en la entrega del producto que compré ONLINE, pésimo servicio.'

print('Minúsculas:\n', s1.lower())
print('\nMayúsculas:\n', s1.upper())

print('\nPrimera letra en mayúscula:\n', s1.capitalize())
print('\nPrimera letra de cada palabra en mayúscula:\n', s1.title())

print('\nIntercambiar entre mayúsculas y minúsculas:\n', s1.swapcase())

In [ ]:
#Otras funciones
s1 = '2020'
s2 = 'python'
s3 = 'Python'
s4 = 'PythonDMC'
s5 = 'Python-DMC'

#s1.isnumeric(),  s2.isnumeric(),  s3.isnumeric(),  s4.isnumeric(),  s5.isnumeric()
#s1.isalpha(),    s2.isalpha(),    s3.isalpha(),    s4.isalpha(),    s5.isalpha()
#s1.islower(),    s2.islower(),    s3.islower(),    s4.islower(),    s5.islower()
#s1.isalnum(),    s2.isalnum(),    s3.isalnum(),    s4.isalnum(),    s5.isalnum()

(True, False, False, False, False)

In [52]:
#Reemplazar, buscar y dividir.
#Convierte String en Lista

s = 'Python es un lenguaje de tipado dinamico.'

lista_palabras = s.split()
print(lista_palabras)

['Python', 'es', 'un', 'lenguaje', 'de', 'tipado', 'dinamico.']

In [62]:
#Función Zip
paises = ["China", "India", "Estados Unidos", "Indonesia", "Perú"]
#poblaciones = [1391, 1364, 327, 264]
poblaciones = [1391, 1364, 327] #Solo muestra los valores que coinciden entre ambas listas
list(zip(paises, poblaciones)) #Esto es una tupla, luego no puede ser editado

[('China', 1391), ('India', 1364), ('Estados Unidos', 327)]

In [ ]:

s = s.replace('.', '')

lista_palabras = s.split()
print(lista_palabras)

['Python', 'es', 'un', 'lenguaje', 'de', 'tipado', 'dinamico']

In [ ]:
ss = 'de'

print('Dado el substring:', ss)
print('Índice de inicio del substring:', s.find(ss))
print('Cantidad de ocurrencias del substring:', s.count(ss))

## PRACTICA 01 - Escribir un programa que reciba el siguiente texto y muestre:

* Cantidad de palabras distintas
* Frecuencia de cada palabra encontrada

Buenas tardes, he notado consumos no reconocidos en mi tarjeta de crédito que no he realizado. Mis últimos consumos son del 4 de abril pero en el estado de cuenta de mi tarjeta de crédito aparecen consumos posteriores. Espero su pronta ayuda, abonando el monto de los consumos al saldo de mi tarjeta, gracias.

In [ ]:
#Ingrese su respuesta aquí

texto = 'Buenas tardes, he notado consumos no reconocidos en mi tarjeta de crédito que no he realizado. Mis últimos consumos son del 4 de abril pero en el estado de cuenta de mi tarjeta de crédito aparecen consumos posteriores. Espero su pronta ayuda, abonando el monto de los consumos al saldo de mi tarjeta, gracias.'

In [ ]:
#listaPalabras = texto.split()

#frecuenciaPalab = []
#for palabra in listaPalabras:
    #frecuenciaPalab.append(listaPalabras.count(palabra))

#print("Cadena\n" + texto +"\n")
#print("Lista\n" + str(listaPalabras) + "\n")
#print("Frecuencias\n" + str(frecuenciaPalab) + "\n")
#print("Pares\n" + str(list(zip(listaPalabras, frecuenciaPalab))))